<div class="nav">
    <div class="nav-container">
        <h3 class="nav-header">Holo-Theatre</h3>

        <a href="profile" class="nav-link selected"></a> 
    </div>
</div>
<div class="content">
    <div class="tab-menu">
        <div class="user">
            <% if (user) { %>
                <img src="<%=user.avatar %>" alt="" class="user-icon">
                <h3 class="user-name"><%=user.fullName %></h3>
                <% if (!user.isTheatre) { %>
                    <p class="user-balance">Ваш баланс: <%=user.balance %>р.</p>
                <% } %>
            <% } else { %>
                <form class="login" action="login" method="post">
                    <h2 class="login-title">Вход в аккаунт:</h2>
                    <input class="login-input" type="text" name="login" placeholder="Логин...">
                    <input class="login-input" type="password" name="password" placeholder="Пароль...">
                    <input class="login-submit button" type="submit" value="Войти">
                </form>
            <% } %>
        </div>
        <a class="tab-link <%= (selected == 'performances') ? 'selected': null %>" href="/performances">Новые оперы</a>
        <a class="tab-link <%= (selected == 'recordings') ? 'selected' : null %>" href="/recordings">Записи</a>
        <% if (user) { %>
            <a class="tab-link <%= (selected == 'profile') ? 'selected' : null %>" href="/profile">Профиль</a>
            <% if (user.isTheatre) { %>
                <a class="tab-link <%= (selected == 'theatre') ? 'selected' : null %>" href="/theatre">Театр</a>
            <% } %>
        <% } %>
    </div>
    <div class="tab-content">
