<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

    <%- include("base.ejs"); %>
    
    <link rel="stylesheet" href="styles/performances.css">
</head>
<body>

    <%- include("content-header.ejs", {selected: 'performances'}); %>

        <h1 class="welcome">Оперы, которые пройдут в скором времени:</h1>
        <div class="performances">
            <% for(const [id, performance] of Object.entries(performances)) { %>
                <a class="performance" href="watch/<%=id %>">
                    <div class="performance-preview" style="background-image: url('<%=performance.preview;%>')">
                        <%-performance.description %>
                    </div>
                    <!-- <img src="<%=performance.preview %>" alt="" class="performance-preview"></img> -->
                    <div class="performance-text">
                        <span class="performance-title"><%=performance.name %></span>
                    </div>
                </a>
            <% }; %>
        </div>
    <%- include("content-footer.ejs"); %>

</body>
</html>