<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

    <%- include("base.ejs"); %>
    <link rel="stylesheet" href="/styles/watch.css">
</head>
<body> 
    <%- include("content-header.ejs", { selected: 'watch' }); %>
        <h1>Опера <%=performance.name %></h1>
        <% if (user.hasTicket(id)) { %>
            <h2>У вас куплен билет на эту оперу!</h2>
            <video class="player" src="http://myserver.com:1935/path/to/stream/myPlaylist.m3u8">
                Your browser does not support the VIDEO tag and/or RTP streams.
            </video>
        <% } else { %>
            <div class="gallery">
                <img src="<%=performance.gallery[0] %>" class="gallery-preview">
                <div class="gallery-images">
                    <img src="<%=performance.gallery[0] %>" alt="" class="gallery-image selected">
                    <% for (let i = 1; i < performance.gallery.length; i++) { %>
                        <img src="<%=performance.gallery[i] %>" alt="" class="gallery-image">
                    <% } %>
                </div>
            </div>
            <p class="description">
                <%-performance.description %>
            </p>
            <a href="/buy/<%=id %>" class="button buy-button">Купить</a>
        <% } %>
    <%- include("content-footer.ejs"); %>
    
    <!-- Опять я использую CDN потому что сейчас 2 ночи и я пиздецки устал... -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/scripts/gallery.js"></script>
</body>
</html>